.App {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow-y: scroll;
}

.task-item {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.task-item input {
  margin-right: 1rem;
}

.start-btn-large {
  min-width: 8rem;
  min-height: 8rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}